@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    position: relative;
    color: white;
    padding: 0 0 5px;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}


.nav-link:hover::after {
    width: calc(100%);
}

header {
    background-image: url(/assets/header_bg.png);
    height: 80vh;
}

header h1, button{
    animation: fade-down 0.5s;
}



/* ANIMATION */

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@media (max-width: 768px) {
    .nav-link:hover::after {
        width: calc(100%);
    }

    .nav-link {
        font-size: 0.8rem;
        /* Tamanho de texto menor para telas menores */
    }

}

